body {
background: linear-gradient(to right, #FFD6BB, #E4E4E4);

}
#column {



  height:560px;
  width:100%;
  margin: 0 auto;
  /* border:4px solid grey; */
}

.gamer-0-section,
.gamer-1-section {
    width: 50%;
    float: left;
    height: 550px;
    padding: 40px;
}
.roundscr {
  background-color: #EB4D4D;
  color: #fff;
  width: 80px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.gamer-current-box {
    background-color: #EB4D4D;
    color: #fff;
    width: 80px;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}
.gamer-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}
.gamer-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 130px;
}
.active { background-color: #f7f7f7; }
.active .gamer-name { font-weight: 300; }

.active .gamer-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -7px;
    right: 10px;

}

.gamer-current-box {
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.gamer-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.gamer-current-score {
    font-size: 30px;
}
.final-score {
  position: absolute;
  margin-left: 50%;
  top:-200px;
  transform: translateX(-50%);
  font-size: 18px;
  text-align: center;
  width:170px;
  padding:8px;
  border:none;
}


button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background: none;
    border: 2px solid transparent;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}
button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }
#btn-col{
  text-align: center;
}

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new {
  left:50%;
  top: 40px;
  margin-top:40px;
}
.btn-dice {
  left:500px;
  top: 0px;
}
.btn-hold {
  margin-left:140px;
  top: 0px;
  border: 4px solid grey;
}

.dice {
    display:none;
    position: absolute;
    left: 50%;
    top: 200px;
    color:yellow;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}
.winner { background-color: #f7f7f7; }
.winner .gamer-name { font-weight: 300; color: #EB4D4D; }
